.navbar {
    background-color: rgb(113, 24, 113);
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

.navbar a:hover {
    color: pink !important;
}

.notActive {
    color: white;
  }

.isActive {
    color: violet;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
}